/* The following sections I have tried to make pretty self-explantory (naming conventions, etc.) */
/* I have also made the code very basic and easy to understand, so you can easily change it to your liking */

#game-container {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.obstacle {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('assets/bat.16x16.png');
    background-position: 0px 0px;
    align-self: center;
    left: 100%;
    bottom: 0;
    z-index: 1;
}

.player {
    position: absolute;
    width: 32px;
    height: 32px;
    background: url('assets/rogue-walking-spritesheet.png') 0px 0px;
    z-index: 1;
}

.score-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    z-index: 2;
}

.score-label {
    font-size: 20px;
    color: black;
    margin-right: 10px;
    font-weight: bold;
    z-index: 2;
}

.score {
    font-size: 16px;
    margin-left: 10px;
    color: #fff;
}

/* The following is the reset button (which is also sitting within the html code). This hasn't actually been utilised 
   by the JS code, but it's there if you want to use it. */

.reset {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #fff;
    border: solid;
    border-color: #000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* Style the sky div, so that it sits at the top of the screen - extending down 50% and has blue sky and clouds as it's background. */

.sky {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    width: 100%;
    height: 100%;
    background: url('assets/country-platform-back.png');
    z-index: 0;
}

/* Style the sky div, so that it sits at the top of the screen - extending down 25% and has blue sky and clouds as it's background. */

.floor {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 50%;
    background: url('assets/country-platform-tiles-example.png');
    z-index: 0;
}

